/*!
 * UniNet v1.0.0
 *
 * CSS STYLE
 */

html,body {
	font-size: 12px;
	font-family: Verdana;
}

a{ text-decoration: none; }

a:hover{ text-decoration: underline;}

.container {
	width: 998px;
}

.container>footer p {
	text-align: center; /* center align it with the container */
}

/* Page header tweaks */
.page-header {
	background-color: #CECECE;
	padding: 5px 5px 5px;
	margin: -20px -20px 20px;
	font-size: 20px;
}

.row {
	padding: 20px;
}

.largura746 {
	width: 746px;
}

.page-header{
	text-align: center;
}

.pagination{
	margin-left: 10px !important;
}

.span2{
	background-color: #CECECE;
	width: 200px !important;	
}

footer{
	padding: 5px 5px 5px;
	text-align: center;
	background-color: #CECECE;	
}